<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout (~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <form action="#" th:action="@{/actionP/address/step3}" th:object="${country}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="country">Country</label>
                            <input type="text" th:fields="*{country}" id="country" class="form-control"
                                th:classappend="${#fields.hasErrors('country')} ? 'is-invalid'"/>
                            <div class="invalid-feedback" th:errors="*{country}"></div>
                        </div>
                    </div>
                    <a th:href="@{/actionP/address/step2}">Go Back</a>
                    <button type="submit" class="btn btn-primary">Save Address</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>